body {
    background-color: #f8f9fa;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

#resultados p {
    font-weight: bold;
    margin: 0;
}

#resultados {
    margin-top: 20px;
}
